* {
	margin: 0;
}

html,body{
	height: 100%;
	width: 100%;
}

header {
	font-style: italic;
	background-color: red;
	text-align: center;
	min-height:5%;
}

nav {
	text-align: center;
	background-color: blue;
	min-height: 5%;
}


nav>ul>li {
	display: inline;
}
.prestation {
	padding-left: 20%;
}
.contenu {
	background-color: red;
	text-align: left;
	padding-left:2%;
	min-height: 90%;
}

.prestation>p{
	display: inline;
}

form{
	display: inline;
}
